<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dados dos Itens</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <IMG [src]="imagem" *ngIf="imagem" width="50%" height="50%">
  <ion-button expand="block" (click)="foto()" color="danger">Mudar Foto</ion-button>
<form>

<ion-item>
  <ion-label position="floating">Nome</ion-label>
  <ion-input type="text" value="{{itenVencido.nome}}" disabled="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Data Vencimento</ion-label>
  <ion-input type="text" value="{{itenVencido.dataVencimento}}" disabled="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Final do código</ion-label>
  <ion-input type="text" value="{{itenVencido.fimCodigo}}" disabled="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Quantidade</ion-label>
  <ion-input type="text" value="{{itenVencido.quantidade}}" disabled="true"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Assinatura</ion-label>
  <ion-input type="text" value="{{itenVencido.ass}}" disabled="true"></ion-input>
</ion-item>
<ion-button expand="block" (click)="excluir(itenVencido)" color="danger">Excluir</ion-button>
<ion-button expand="block" (click)="atualizar(itenVencido)" color="primary">Atualizar</ion-button>

</form>
</ion-content>
