<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Atualizar Iten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" formControlName="nome"></ion-input>    
  </ion-item>
<!--
  <ion-item>
    <ion-label position="floating">Data Vencimento</ion-label>
    <ion-input type="text" formControlName="dataVencimento"></ion-input>    
  </ion-item>
  -->
  
  <ion-item>
    <ion-label>Data do Vencimento</ion-label>
    <ion-datetime value="1995-04-15" min="2020-02" max="2040"
      [dayShortNames]="customDayShortNames"
      displayFormat="DDD. MMM DD, YYYY"
      monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des" formControlName="dataVencimento"
      display-timezone="false"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Final Codigo</ion-label>
    <ion-input type="text" formControlName="fimCodigo"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input type="text" formControlName="quantidade"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label position="floating">Assinatura</ion-label>
    <ion-input type="text" formControlName="ass"></ion-input>    
  </ion-item>
  

  <ion-button (click)="atualizar()" expand="full">Atualizar</ion-button>

  </form>
</ion-content>