<ion-header>
  <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
   
    <ion-title>Itens-foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img *ngIf="foto" [src]="foto">
  <ion-item  *ngIf="foto">
    
    <ion-button (click)="enviarFoto()">Enviar</ion-button>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="tirarFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-fab vertical="bottom" horizontal="left" slot="fixed">
      <ion-fab-button (click)="obterFoto()">
        <ion-icon name="book"></ion-icon>
      </ion-fab-button>

  </ion-fab>
</ion-content>